@import 'reset.css';
@import url('https://fonts.googleapis.com/css?family=Raleway:200,500,800');

body { 
    background: #fff;
    font-family: "Raleway", sans-serif;
}

header#mobile-nav {
    background: #fc0;
    display: none;
    position: fixed;
    width: 100%;
    margin-top: 0;
    top: 0;
    z-index: 10000;
}

header div {
    background: #fff;
    box-sizing: border-box;
    width: 80%;
    height: 100px;
    float: left;
    margin-left: 10%;
    margin-top: 20px;
    border-top: solid 4px #000;
    border-bottom: double 8px #000;
    font-size: 44px;
    line-height: 68px;
}

header div p {
    margin-top: 10px;
    width: 40%;
    float: left;
    font-size: 44px;
}

header ul {
    display: inline-block;
    width: 60%;
    float: right;
    box-sizing: border-box;
    text-align: right;
}

header ul li {
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
    color: #aaa;
}

header ul li a {
    text-decoration: none;
}

header ul li a:hover{
    color: #000;
    transition: .7s ease;
}

header ul li a.active-link{
    color: #000;
    text-decoration: none;
}

header ul li:last-child {
    margin-right: 0px;
}

/*******************/
/* Drop down for mobile view */
/*******************/

.dropbtn {
    width: 40px;
    height: 10px;
    margin-top: 0px;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0;
}

#dropdown-container {
    width: 50%;
    float: right;
    border-top: solid 4px #000;
    border-bottom: double 8px #000;
}

.dropdown {
    width: 20%;
    float: right;
    position: relative;
    display: inline-block;
    height: 88px;
    margin: 0;
    padding: 0;
    border: none;
}

.dropdown-content {
    display: none;
    width: 1000%;
    position: absolute;
    margin-top: 20px;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #aaa;
    font-size: 20px;
    font-family: "Raleway";
    border: none;
    background: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #555;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #000;
    transition: .7s ease;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a.active-link {
    color: #000;
}

/***************************/
/*********** SLIDE SHOW **********/
/***************************/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto; 
  height: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: -4px;
  width: 100%;
  text-align: center;
  width: 100%;
  background: #444;
  border-radius: 0 0 5px 5px; 
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background: #777;
  border-radius: 2px;
  opacity: 0.8;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/***************************/
/***********ARTICLE**********/
/***************************/
article {
    height: 800px;
    width: 80%;
    margin: 0 auto;
    clear: both;
    /**background: #dbe6f6; /* fallback for old browsers */
    /**background: -webkit-linear-gradient(to right, #dbe6f6, #c5796d); /* Chrome 10-25, Safari 5.1-6 */
    /**background: linear-gradient(to right, #dbe6f6, #c5796d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 150px;
    clear: both;
}


article div img {
    width: 100%;
    margin: 0 auto;
}


#Heading h1 {
    width: 100%;
    font-size: 55px;
    line-height: 60px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#Heading h3 {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    font-weight: 800;
}

#Text {
    margin-bottom: 30px;
}

#Text p{
    width: 100%;
    font-size: 14px;
    margin-bottom: 12px;
}

#Text p:last-child{
    margin-bottom: 0;
}

#Text p a {
    color: cornflowerblue;
    text-decoration: none;
}

#sub-content {
    margin-bottom: 50px;
    height: auto;
    box-sizing: border-box;
    display: block;
}

#sub-content div {
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
/*    background: #007;*/
    height: auto;
    border-top: double 4px #000;
    float: left;
}

aside {
    width: 70%;
    height: auto;
    box-sizing: border-box;
    float: left;
    padding-right: 10px;
}

/*
#hypothesis_aside {
    height: 500px;
}
*/

#hypothesis_aside p {
    height: auto;
    margin-bottom: 10px;
}

.list {
    width: 90%;
    margin-left:10%;
}


aside h2 {
    width: 100%;
    height: 50px;
    font-size: 24px;
    margin: 0;
    padding-top: 0px;
}

aside p {
    width: 100%;
    height: auto;
    font-size: 14px;
}

#sub-content div.images-container{
    width: 30%;
    float: right;
    border: none;
    height: auto;
}

#aside_img {
    width: 100%;
    height: 180px;
    float: right;
    margin-top: 10px;
    padding-top: 10px;
}

.border {
    border-top: double 4px #000;
}

#aside_img2 {
    border-top: none;
    width: 100%;
    height: 190px;
    float: right;
    margin-top: 10px;
    padding-top: 10px;
    height: 58px;
}

figcaption {
    display: block;
    font-style: italic;
    font-size: 10px;
}

iframe {
    width: 100%;
    height: 190px;
    float: right;
    margin-top: 10px;
/*    border-top: double 4px #000;*/
    position: relative;
    padding-top: 10px;
}


/***************************/
/***********FOOTER**********/
/***************************/
footer {
    width: 100%;
    background: #fff;
    height: 40px;
    position: fixed;
    bottom: 0;
    clear: both;
    box-sizing: border-box;
}

footer #footer_content {
    margin: 0 auto;
    max-width: 80%;
    color: #555;
    font-style: italic;
    padding-left: 0px;
    vertical-align: center;
}

footer #footer_content #copyright{
    width: 70%;
    height: 32px;
    font-style: italic;
    float: left;
    padding-top: 15px;
    font-size: 12px;
}

footer #footer_content #social {
    width: 25%;
    height: 40px;
    float: right;
    text-align: right;
}

footer #footer_content #social a {
    opacity: 0.6;
}

footer #footer_content #social a:hover {
    opacity: 1;
    border-bottom: 1px #000 solid;
}

footer #footer_content #social a.first {
    margin-right: 9px;
}

footer #footer_content #social a img {
    max-height: 30px;
    padding-top: 15px;
}

/***************************/
/********* MISC ***********/
/***************************/
br {
    line-height: 2px;
}

.bold {
    font-weight: bold;
}

/*******************************/
/* Media Query for Logo */
/*******************************/
@media screen and (max-width: 1000px) {
    #navigation-container div p {
        font-size: 32px;
    }
}


/*******************************/
/* Media Query for Mobile View */
/*******************************/
@media screen and (max-width: 768px) {
    header#mobile-nav {
        display: block;
    }
    header div {
        width: 50%;
        float: left;
        margin-left: 0;
        margin-top: 0;
    }
    
    header div p {
        font-size: 36px;
        padding-left: 5px;
    }
    
    header#navigation-container  {
        display: none;
    }
    
    article {
        margin-top: 100px;
    }
    
    aside {
        width: 100%;
        height: auto;
    }
    
    #sub-content div.images-container {
        width: 100%;
        border: none;
        float: left;
        height: auto;
        margin-bottom: 10px;
    }
}